[workspace]
members = [
    "account_traits",
    "account_traits_derive",
    "core",
    "integration_tests",
    "restaking_core",
    "restaking_program",
    "restaking_sdk",
    "vault_core",
    "vault_program",
    "vault_sdk"]

resolver = "2"

[profile.release]
overflow-checks = true
lto = "fat"
codegen-units = 1

[profile.release.build-override]
opt-level = 3
incremental = false
codegen-units = 1

[workspace.package]
version = "0.0.1"
authors = ["Jito Network Maintainers <support@jito.network>"]
repository = "https://github.com/jito-foundation/restaking"
homepage = "https://jito.network/"
license = "BSL"
edition = "2021"
readme = "README.md"

[workspace.dependencies]
assert_matches = "1.5.0"
borsh = { version = "0.10.3" }
bytemuck = { version = "1.16.3", features = ["min_const_generics"] }
jito-jsm-core = { path = "core", version = "=0.0.1" }
jito-vault-core = { path = "vault_core", version = "=0.0.1" }
jito-restaking-core = { path = "restaking_core", version = "=0.0.1" }
jito-restaking-sdk = { path = "restaking_sdk", version = "=0.0.1" }
jito-vault-sdk = { path = "vault_sdk", version = "=0.0.1" }
jito-vault-program = { path = "vault_program", version = "=0.0.1" }
jito-restaking-program = { path = "restaking_program", version = "=0.0.1" }
jito-account-traits-derive = { path = "account_traits_derive", version = "=0.0.1" }
jito-account-traits = { path = "account_traits", version = "=0.0.1" }
shank = "0.4.2"
solana-program = "~1.18"
solana-program-test = "~1.18"
solana-sdk = "~1.18"
solana-security-txt = "1.1.1"
spl-token = { version = "4.0.0", features = ["no-entrypoint"] }
spl-token-2022 = { version = "3.0.4", features = ["no-entrypoint"] }
spl-associated-token-account = { version = "2.2.0", features = ["no-entrypoint"] }
test-case = "3.3.1"
thiserror = "1.0.57"
tokio = "1.36.0"
matches = "0.1.10"
quote = "1.0.36"
syn = "2.0.72"
proc-macro2 = "1.0.86"
