[toolchain]

[features]
resolution = true
skip-lint = false

[programs.localnet]
global_counter_avs = "6Qs48uxeHV4ZaJeQsGczXNj2kbJSYFVyXs34QvXYPN5E"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
